html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background: #181818;
}

.clear {
  clear: both;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 0.3em;
  color: #444;
}

/* makes the font 33% larger relative to the icon container */
.icon-small:before {
  font-size: 0.7em;
  vertical-align: 10%;
}

#cv {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background: #f3f3f3;
}

.mainDetails {
  padding: 25px 35px;
  background: #ededed;
}

#name h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: -6px;
}

#name h2 {
  font-size: 2em;
  margin-left: 2px;
}

#headshot {
  float: left;
  width: 12.5%;
  margin-right: 30px;
}

#headshot img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#name {
  float: left;
}

#contactDetails {
  float: right;
}

#contactDetails ul {
  font-size: 0.9em;
  margin-top: 2px;
  list-style-type: none;
}

#contactDetails ul li {
  margin-bottom: 3px;
  color: #444;
}

#contactDetails ul li a, a[href^=tel] {
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  text-decoration: none;
  color: #444;
}

#contactDetails ul li a:hover {
  color: #cf8a05;
}

@media all and (min-width: 602px) and (max-width: 800px) {
  #headshot {
    display: none;
  }

}

@media all and (max-width: 601px) {

  #headshot {
    display: none;
  }

  #name, #contactDetails {
    float: none;
    width: 100%;
    text-align: center;
  }

}
